.Order{
/*    position:relative;*/
    margin-top:5.5em;
    background-color:#f8f8f8;
}

.rows{
/*    position: absolute;*/
    top: 31em;
    width: 100%;
}
.row{
    width:100%;
    margin-bottom:2em;
    margin-top: 41px;   
}
.main_cards{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.card_header img{
        width: 168px;
    align-items: center;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.card{
    max-width: 80vw;
    width: 78vw;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.card_main1{
        font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    font-family: Outfit,sans-serif!important;
    margin-top: 17px;
    margin-bottom: 6px;
    width: 53vw;
    text-align:center;
}

.card_main2{
    width:100%;
}
.card_main2 .price{
    float: left;
    margin-left: 16px;
    color: #7d8035;
    font-size: 21px;
    font-weight: 600;
}

.card_main2 .rating{
    float:right;
    margin-right:16px;
}

.card_footer{
        width: 406px;
        margin-right:20px;
    margin-top: 12px;
/*    background-color: #7d8035;*/
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition:.5s ease transform .2s ease;
}

.card_footer :hover {
    background-color:white;
    color:#7d8035;
}
.card_button :hover {
    background-color:white;

    color:#7d8035;
}

.card_footer span{
        text-align: center;
    width: 43px;
}
.card_button{
    line-height: 20px;
    font-size: 19px;
    letter-spacing: .1em;
    font-weight: 400;
    font-family: Outfit;
    background-color: #7d8035;
    color: white;
    border:none;
    cursor:pointer;
    width: 24px;
    max-width: 100%;
}
